python: 2.7

matrix:
  env:
    - PACKAGE_VERSION="2.1.0"
  include:
  - os: linux
    dist: trusty
    compiler:
      - gcc
    language: python
    addons:
      sonarcloud:
        organization: "islog"
        token:
           secure: "cJ9Sg7kYCaHISdArKhNbpNjlpIIxVNRi6saoPqXmCW4msYIGoMuWazrYBOsH6z2E3lnAoqRzoCEHoXZJcOJTqK9gwH9L+CapMiqVy0PgGsyJp/oMUbbJlOJiF9BTRxnv5KhHHa2zRmI2ZVKq87/T5G4jmG23CqzBs3D4FkrrlNk="
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-5.0
        packages:
          - g++-6
          - gcc-6
    env:
      - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
      - PACKAGE_VERSION="2.1.0"
    script:
      - echo $PACKAGE_VERSION
      - sudo ln -s /usr/bin/gcc-6 /usr/local/bin/gcc
      - sudo ln -s /usr/bin/g++-6 /usr/local/bin/g++
      - export CC=/usr/bin/gcc-6
      - export CXX=/usr/bin/g++-6
      - wget "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.0.0.1744-linux.zip"
      - unzip sonar-scanner-cli-4.0.0.1744-linux.zip
      - export PATH=$PATH:/home/travis/build/Holocrons/liblogicalaccess/sonar-scanner-cli-4.0.0.1744-linux.zip
      - mkdir build;
      - cd build
      - conan create .. LogicalAccess/$PACKAGE_VERSION@islog/$TRAVIS_BRANCH
      - conan install .. -o LLA_BUILD_UNITTEST=True --build gtest --build OpenSSL
      - build-wrapper-linux-x86-64 --out-dir . conan build ..
      - cd ..
      - sonar-scanner
    cache:
      directories:
        - '$HOME/.sonar/cache'

  - os: linux
    dist: trusty
    compiler:
      - clang
      - clang++
    language: python
    before_install:
      - echo -n | openssl s_client -connect https://scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-
    addons:
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-6.0
        packages:
          - clang-6.0
          - libc++-dev
          - libc++abi-dev
          - libstdc++-6-dev
      coverity_scan:
        project:
          name: "Holocrons/liblogicalaccess"
          description: "courge maker since 1884"
        notification_email: remi.wickuler@epitech.eu
        build_command_prepend:
          - export CC=/usr/bin/clang-6.0
          - export CXX=/usr/bin/clang++-6.0
          - mkdir build;
          - cd build
          - conan create .. LogicalAccess/$PACKAGE_VERSION@islog/$TRAVIS_BRANCH
          - conan install .. -o LLA_BUILD_UNITTEST=True --build gtest --build OpenSSL --build libstdc++-6-dev
        build_command:
          - conan build ..
        branch_pattern:
          - $TRAVIS_BRANCH
    env:
      global:
        - secure: "aZv8Yp75cxDZjLLX1sV0XvwkVOJjkYEsKyX1vjk5SqrRYbHvR3nEXSz95LalIOld844e5QLSDoyBzp22HD2F+4lzHbs4qtBRdtIwt3Cf9GA63z6Ax9UrjyzNQnIBpLiYk2W4pHo2hatpW4wg5ZUKW981RqU4hMz61x2uzF04VBUEctQOc3nrRBlEt/5QSlKLxckZPfIJzE2Qf0Mv6N20aOZAhoYeUyEb05RzvD7k9mu2TiB94R5MqfnxB9FjSCw/5bDIGlgtOi7eossS+B21+7fV18i655II497dI8VzcL6ye5R+0+sgi1i7w35bCVOufAkQcvKEBBhJpwK0Zi5beUSqFU5dVqihKhyRLC+MnAl9yUZSPC8cV5yJhWMzZrkWXFSHLefEePq3wnpK0IFcLvkYN1bMnEhX5jU6s3pgcnWu/CvPPYaAYt2K6dwa/w7BLFkO6/24zBiZT/Y/E1DxVySJMC/KMT9AOtDAt7nvFBRr322gPE6WLQQ654sdlgyHhpHzauvWfGtZPB735GlpjXgNWibwihnx8Uv3Erz8z80D/tyiQORNYxtO0yi5ggtfsM2yXdGO2YzZaS4IXN/LNJGHOmr0CfF4296yhrHcsj7OnEuHQWpQc2lQEIkly4V0fn102n6N8fngZGnD5ygdMU6/PIRwsfMCizp7ulcIVUw="
      - PACKAGE_VERSION="2.1.0"
      - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
      - EXTRA_CXX_FLAGS="-stdlib=libstdc++-6-dev"
      - EXTRA_CXX_LINKER_FLAGS="-stdlib=libstdc++-6-dev"
      - EXTRA_LDFLAGS="-lstdc++"

before_install:
  - sudo apt-get install -y libpcsclite-dev
  - eval "${MATRIX_EVAL}"

install:
  - pip install conan
  - conan user
