python: 2.7

matrix:
  env:
    - PACKAGE_VERSION="2.1.0"
  include:
  - os: linux
    dist: trusty
    compiler:
      - clang
      - clang++
    language: python
    env:
      global:
        - PACKAGE_VERSION="2.1.0"
        - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
        - EXTRA_CXX_FLAGS="-stdlib=libstdc++-6-dev"
        - EXTRA_CXX_LINKER_FLAGS="-stdlib=libstdc++-6-dev"
        - EXTRA_LDFLAGS="-lstdc++"
        -  secure: "RhRBth7xZeXGZb_wX_7L8g"
    before_install:
      - echo -n | openssl s_client -connect https://scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-
      - sudo apt-get install -y libpcsclite-dev
      - eval "${MATRIX_EVAL}"
    addons:
      coverity_scan:
        project:
          name: "Holocrons/liblogicalaccess"
          description: "courge maker since 1884"
        notification_email: remi.wickuler@epitech.eu
        build_command_prepend: "export CC=/usr/bin/clang-6.0 ; export CXX=/usr/bin/clang++-6.0 ; mkdir build ; cd build ; conan create .. LogicalAccess/$PACKAGE_VERSION@Holocrons/$TRAVIS_BRANCH ; conan install .. -o LLA_BUILD_UNITTEST=True --build gtest --build OpenSSL --build libstdc++-6-dev"
        build_command: "conan build .."
        branch_pattern: $TRAVIS_BRANCH
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-6.0
        packages:
          - clang-6.0
          - libc++-dev
          - libc++abi-dev
          - libstdc++-6-dev
    script:
      - echo courge

install:
  - pip install conan
  - conan user
