os: linux
language: python
python: "3.7"
dist: xenial
compiler:
  - gcc
git:
  submodules: false
before_install:
  - git submodule update --init --recursive
install:
# Install conan
  - pip install conan
# Automatic detection of your arch, compiler, etc.
  - conan user
script:
# Download dependencies and build project
  - conan install .
# Call your build system
  - cmake . -G "Unix Makefiles"
  - cmake --build .
# Run your test
  - ctest .
