python: 2.7

matrix:
  include:
  - os: linux
    dist: trusty
    compiler:
      - gcc
    language: python
    addons:
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-6
          - gcc-6
    env:
      - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    script:
      - sudo ln -s /usr/bin/gcc-6 /usr/local/bin/gcc
      - sudo ln -s /usr/bin/g++-6 /usr/local/bin/g++
      - export CC=/usr/bin/gcc-6
      - export CXX=/usr/bin/g++-6
      - mkdir build;
      - cd build
      - conan create .. LogicalAccess/2.1.0@islog/develop
      - conan install .. -o LLA_BUILD_UNITTEST=True --build gtest --build OpenSSL
      - conan build ..
      - ctest

  - os: linux
    dist: trusty
    compiler:
      - clang
    language: python
    addons:
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
    env:
      - CLANG=7 SAN_FLAGS="--enable-asan --enable-ubsan"
      - MATRIX_EVAL="CC=clang-7 && CXX=clang-7"
    script:
      - export CC=/usr/bin/clang-7
      - export CXX=/usr/bin/clang-7
      - mkdir build;
      - cd build
      - conan create .. LogicalAccess/2.1.0@islog/develop
      - conan install .. -o LLA_BUILD_UNITTEST=True --build gtest --build OpenSSL
      - conan build ..
      - ctest
    before_install:
      - if [[ -n "$CLANG" ]]; then
          wget -O https://apt.llvm.org/llvm-snapshot.gpg.key
          sudo apt-add-repository -y "deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-$CLANG main"
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys BA9EF27F
          sudo apt-add-repository -y "deb http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu trusty main"


before_install:
  - sudo apt-get install -y libpcsclite-dev
  - eval "${MATRIX_EVAL}"

install:
  - pip install conan
  - conan user
