matrix:
  include:
  - os: linux
    dist: trusty
    language: python
    addons:
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-5.0
        packages:
          - g++-6
          - gcc-6
    env:
      - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"

  - os: linux
    dist: trusty
    language: python
    addons:
      apt:
        update: true
        sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-5.0
        packages:
          - clang-5.0
    env:
      - MATRIX_EVAL="CC=clang-5.0 && CXX=clang-5.0"

before_install:
  - sudo apt-get install -y libpcsclite-dev
  - eval "${MATRIX_EVAL}"

install:
  - pip install conan
  - conan user
script:
  - mkdir build
  - cd build
  - conan create .. LogicalAccess/2.1.0@islog/develop
  - conan install .. -o LLA_BUILD_UNITTEST=True --build gtest
  - conan build ..
  - ctest
